@import '../../styles/mixins';

.sponsorship-inline-sponsorships {
  svg.inline-action:hover {
    cursor: pointer;
    color: theme-color('secondary-light');
    fill: theme-color('secondary-light');
    path {
      fill: theme-color('secondary-light') !important;
    }
  }
  .inline-list {
    .row-title span {
      font-weight: bold;
    }
    .row-line {
      min-height: 30px;
      line-height: 30px;
    }
    .row-line.row-even {
      background: lighten(theme-color('secondary-light'), 12%);
    }
    .row-line.row-even:not(.row-title):hover {
      background: lighten(theme-color('secondary-light'), 14%);
    }
    .row-line.row-odd {
      background: lighten(theme-color('secondary-light'), 16%);
    }
    .row-line.row-odd:not(.row-title):hover {
      background: lighten(theme-color('secondary-light'), 18%);
    }
  }
}

svg.inline-action:hover {
  cursor: pointer;
  color: theme-color('light');
  fill: theme-color('light');
  path {
    fill: theme-color('light') !important;
  }
}

