@import '../../styles/mixins';

svg.text-danger {
  path {
    fill: theme-color('danger');
  }
}
svg.text-warning {
  path {
    fill: theme-color('warning');
  }
}
svg.text-success {
  path {
    fill: theme-color('success');
  }
}
svg.text-dark {
  path {
    fill: theme-color('dark');
  }
}
svg.text-light {
  path {
    fill: theme-color('light');
  }
}
svg.text-secondary {
  path {
    fill: theme-color('secondary');
  }
}
svg.text-primary {
  path {
    fill: theme-color('primary');
  }
}

.text-danger svg {
  path {
    fill: theme-color('danger');
  }
}
.text-warning svg {
  path {
    fill: theme-color('warning');
  }
}
.text-success svg {
  path {
    fill: theme-color('success');
  }
}
.text-dark svg {
  path {
    fill: theme-color('dark');
  }
}
.text-light svg {
  path {
    fill: theme-color('light');
  }
}
.text-secondary svg {
  path {
    fill: theme-color('secondary');
  }
}
.text-primary svg {
  path {
    fill: theme-color('primary');
  }
}