@import '../../styles/mixins';

.common-desktop-list-title {
  .sortable:hover {
    cursor: pointer;
  }
  .list-sort-icon {
    position: absolute;
    top: 6px;
    margin-left: 5px;
  }
}
.col-vertical-align {
  margin-top: auto;
  margin-bottom: auto;
}
.row-list-titles.data-list {
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  background-color: lighten(#5a4e4e, 30%);
  padding-top: 0px;
  padding-bottom: 0px;
}

.row-list-titles {
  left: 0px;
  position: absolute;
  right: 0px;
  top: $desktop-listheader-height;
  z-index: 700;
  height: $desktop-listheader-height;
}
.col-first {
  padding-left: 15px;
}
.col-last {
  padding-right: 15px;
}