@import '../../styles/mixins';

.common-responsive-list-panels-close {
  position: absolute;
  right: 5px;
  top: 2px;
}
.common-responsive-list-panels {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  .nav-item.active {
    color: theme-color('primary');
  }
  .list-group-item:hover {
    cursor: pointer;
  }
}
.common-responsive-list-navbar {
  z-index: 100;
}
.common-responsive-list-panels-inner {
  padding: 5px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 40px;
  z-index: 10;
  overflow-y: auto;

  .list-group-item {
    background-color: theme-color('secondary');
    color: white;
  }
}

.sort-icon {
  display: inline-block;
  right: 10px;
  position: absolute;
}
